$first-color: #2c2d34;
$second-color: #e94822;
$third-color: #f2910a;
$fourth-color: #efd510;

$first-font: 'Roboto', sans-serif;
$second-font: 'Open Sans', sans-serif;

#user_roles div label{
    display: none;
}