{% extends 'header.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
{{ block('headerapp') }}
    <h1 class="text-center">Create new Product</h1>

    <div class="login-container">
        {{ include('product/_form.html.twig') }}
    </div>

{% endblock %}
