{% extends 'base.html.twig' %}

{% block headerapp %}

<header>
    
    <div class="banner-container">
        <img src="" alt="Image" class="banniere-image">
        <div class="banner-search">
          <input type="text" class="search-input" placeholder="Search">
          <button class="search-button">Search</button>
        </div>
        <div class="banner-text">
          <h1>Home</h1>
          <h1>Contact Us</h1>
          <h1>My cart </h1>
        </div>
        <img src="{{asset('Medias/panier.png')}}" alt="Image" class="search-image">
    </div>
</header>

<div class="banner-container-login">
    <div class="banner-text-login">
      <h1>IT</h1>
      <h1>Plushies</h1>
      <h1>School Supplies</h1>
      <h1>Decoration & Furnitures</h1>
      <h1>Books</h1>
      <h1>Cosplay</h1>
      <h1>Glasses</h1>
      <h1>More</h1>
      <div class="oval">FR</div>
      <div class="oval">EN</div>
    </div>
  </div>

{% endblock %}
